/* src/Accolades.css */
@import url(https://db.onlinewebfonts.com/c/879269be836bf8d970d4ef4fb0e54f42?family=GT+America+Extended+Regular);

.accolades-section {
    padding: 60px;
    background-color: #f3f6fa;
    text-align: center;
    font-family: 'GT America Extended Regular';
    font-weight: 100;
  }
  .nominations-title {
    font-size: 4em;
    margin-bottom: 30px;
    color: black;
    text-align: center;
  }
  .accolades-title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .accolades-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .accolades-section h1 {
    font-size: 4em;
    text-align: center;
    margin-bottom: 20px;
    color: black;
  }
  
  .accolade-item {
    background-color: f9f9f9;
   
    padding: 20px;
    width: 230px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .accolade-icon {
    font-size: 2rem;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .accolade-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .accolade-description {
    font-size: 0.8rem;
    color: #555;
  }
  