/* components/Banner.module.css */
@import url(https://db.onlinewebfonts.com/c/879269be836bf8d970d4ef4fb0e54f42?family=GT+America+Extended+Regular);

.banner {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #010101;
    z-index: 0;
    overflow: hidden;
    border-radius: 40px; 
    top: 60px;
    font-family: 'GT America Extended Regular';
    font-weight: 900;
    width: 100%;
}
.videoContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videoContainer video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.videoContainer video.active {
  opacity: 1;
}
  
  .imagesContainer {
    position: absolute;
  
    
    width: 80%; /* Adjust width as needed */
    height: 100%;
    display: flex;
    justify-content: space-between; /* Adjust as needed */
    align-items: center;
    gap: 300px;
  }
  
  .image1, .image2, .image3 {
    
    width: 20%;
    height: 40%;
    object-fit: cover;
    border-radius: 10px;
    z-index: 1;
  }
  
  .image2 {
    margin-top: 230px; /* Adjust margin-top for spacing */
  }
  
  
  .text {
    position: relative; /* Ensure text is on top */
    text-align: center;
    z-index: 1;
    mix-blend-mode: difference;
  }
  
  .text h1 {
    font-size: 8rem;
    
    
    
  }
  
  .text p {
    font-size: 1.2rem;
    margin-top: 1rem;
    font-weight: 100;
  }
  
  .socialLinks {
    display: flex;
    justify-content: center;
    gap: 15px; 
    margin-top: 20px;
}

.socialLink {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 2rem;
    width: 40px;
    height: 40px;
}

.socialLink:hover {
    color: white;
}

.logoImage {
    width: 40px;
    height: 40px;
    object-fit: contain;
}


