/* Container for the gallery to prevent overflow */

  
  /* Styles for the SVG to fill its container */
  #stage {
    width: 100%;
    height:100%;
    
  }
 
  #box{
    object-fit: cover;
    width: 10;
    background-color: aqua;
  }
  
  .next { 
    right: 20px;
  }
  
  .prev {
    left: 20px;
  }
  
  /* Basic reset to ensure no padding or margin interferes */
  