/* src/Nominations.css */
@import url(https://db.onlinewebfonts.com/c/879269be836bf8d970d4ef4fb0e54f42?family=GT+America+Extended+Regular);

.nominations-section {
    padding: 60px;
    display: flex;
    background-color: #f3f6fa;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'GT America Extended Regular';
    font-weight: 900;
  }
  
  .nominations-title {
    font-size: 4em;
    margin-bottom: 30px;
    color: black;
    text-align: center;
  }
  
  .nominations-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
  }
  
  .nomination-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    object-fit: contain;
  }
  
  .nomination-image {
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .nominations-section, .nomination-title h2 {
    margin-top: 20px;
    font-size: 1.0rem;
    color: black;

  }
  .awards-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-weight: 500;
  }
  
  .awards-table th, .awards-table td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    color: black;
  }
  
  .awards-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .awards-section h2 {
    font-size: 24px;
  }
  /* RESPONSIVENESS */
@media (max-width: 1024px) {
  .nominations-section, .nomination-title h2 {
      font-size: 1.0rem;
  }

  .nominations-list {
      gap: 30px;
  }

  .nomination-item {
      width: 250px;
  }
}

@media (max-width: 768px) {
  .nominations-section, .nomination-title h2 {
      font-size: 0.8rem;
  }

  .nominations-section {
      padding: 40px 5%;
  }

  .nomination-item {
      width: 220px;
  }

  .awards-table {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .nominations-section, .nomination-title h2 {
      font-size: 0.5rem;
  }

  .nominations-section {
      padding: 30px 3%;
  }

  .nomination-item {
      width: 100%;
  }

  .nomination-image {
      max-width: 200px;
      height: 250px;
  }
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.slider {
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
  background-color: #f3f6fa;
}

.slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slide {
  height: 100px;
  width: 250px;
}
