/* src/App.css */
@import url(https://db.onlinewebfonts.com/c/879269be836bf8d970d4ef4fb0e54f42?family=GT+America+Extended+Regular);

.video-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .video-item {
    max-width: 560px;
  }
  
  .video-item h3 {
    text-align: center;
    margin-top: 10px;
  }
  .contain {
    text-align: center;
    padding: 10px;
    background-color: #f3f6fa;
    font-family: 'GT America Extended Regular';
    font-weight: 900;
  }
  
  .App-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the items */
    gap: 10px; /* Space between cards */
    padding: 10px;
    margin-top: 50px;
  }