/* src/App.css */
@import url(https://db.onlinewebfonts.com/c/879269be836bf8d970d4ef4fb0e54f42?family=GT+America+Extended+Regular);

.video-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .video-item {
    max-width: 560px;
  }
  
  .video-item h3 {
    text-align: center;
    margin-top: 10px;
  }
  .nominations-title {
    font-size: 4em;
    margin-bottom: 30px;
    color: black;
    text-align: center;
  }
  .contain {
    text-align: center;
    padding: 10px;
    background-color: #f3f6fa;
    font-family: 'GT America Extended Regular';
    font-weight: 900;
  }
  
  .App-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the items */
    gap: 10px; /* Space between cards */
    padding: 10px;
    margin-top: 50px;
  }
  * RESPONSIVENESS */
@media (max-width: 1024px) {
    .nominations-title {
        font-size: 3em;
    }

    .video-gallery {
        gap: 15px;
    }
}

@media (max-width: 768px) {
    .nominations-title {
        font-size: 2.5em;
    }

    .contain {
        padding: 20px;
    }

    .video-item {
        max-width: 100%;
    }

    .App-header {
        gap: 15px;
        padding: 5px;
    }
}

@media (max-width: 480px) {
    .nominations-title {
        font-size: 2em;
    }

    .contain {
        padding: 15px;
    }

    .video-gallery {
        flex-direction: column;
        gap: 10px;
    }

    .video-item {
        width: 90%;
    }

    .App-header {
        gap: 10px;
        padding: 5px;
    }
}