/* styles/TopNavBar.module.css */
@import url(https://db.onlinewebfonts.com/c/879269be836bf8d970d4ef4fb0e54f42?family=GT+America+Extended+Regular);

.navbar {
    /* background-color: #000; */
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 64px;
  padding-right: 64px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: 'GT America Extended Regular';
    font-weight: 900;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Ensure it stays on top of other elements */
    grid-column-gap: 158px;
    background: #120e0f85; /* Semi-transparent grey background */
    backdrop-filter: blur(10px);
  }
  
  .logo h1 {
    font-size: 24px;
    margin: 0;
  }
  
  .menu {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 10px;
  }
  
  .menu li {
    font-size: 20px;
    font-weight: 500;
    transition: color 0.3s;
  }
  
  .menu a {
    color: #fff;
    text-decoration: none;
    position: relative;
    padding: 5px 0;
    transition: color 0.3s;
  }
  
  .menu a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
  }
  
  .menu a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .menu a:hover {
    color: red;
  }
  